@"
# Python
__pycache__/
*.pyc
*.pyo

# Virtual env / conda
mlflow_lab2_env/
.venv/

# MLflow artifacts
mlruns/
mlartifacts/
mlflow.db
mlflow.db-journal

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
"@ | Out-File -Encoding utf8 .gitignore